USE [SistemaControl]
GO
/****** Object:  StoredProcedure [dbo].[sp_crud_movimiento_lote]    Script Date: 2/3/2025 11:08:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[sp_crud_movimiento_lote] (
 @i_operacion char(1) ,
 @i_tipo char(1) = null,
 @i_lote_id int = null,
 @i_mov_id int = null,
 @i_mov_cantidad int = null,
 @i_mov_tipo varchar(5) = null,
 @i_mov_motivo varchar(100) = null,
 @i_mov_fecha varchar(75) = null,
 @i_mov_hasta varchar(75) = null,
 @i_usu_id tinyint = null,
 @i_suc_id tinyint = null
)
as
declare
@w_fecha varchar(75)
begin
	if @i_operacion = 'C'
	begin
		select  @w_fecha = GETDATE()
		insert into tm_movimiento_lote 
		(mov_fecha, lote_id, mov_cantidad, mov_tipo, mov_motivo, usu_id, suc_id, mov_hora)
		values
		(@i_mov_fecha, @i_lote_id, @i_mov_cantidad, @i_mov_tipo, @i_mov_motivo, @i_usu_id, @i_suc_id, @w_fecha)

		if @i_mov_tipo = '+'
		begin 
			update tm_lote 
			set lote_cant_actual = isnull(lote_cant_actual,0) + @i_mov_cantidad,
			lote_cant_perdida = 0, lote_consumo = 0,
			lote_fecha_upd = @w_fecha
			where lote_id = @i_lote_id
		end 
		else 
		begin
			update tm_lote 
			set lote_cant_actual = isnull(lote_cant_actual,0) - @i_mov_cantidad,
			lote_cant_perdida = isnull(lote_cant_perdida,0) + @i_mov_cantidad,
			lote_fecha_upd = @w_fecha
			where lote_id = @i_lote_id
		end
	end


	if @i_operacion = 'R'
	begin

		SELECT 
			mov_id, 
			mov_fecha, 
			ml.lote_id,
			mov_cantidad, 
			mov_tipo, 
			mov_motivo, 
			lote_descripcion, 
			CONCAT(u.usu_nombre,' ', u.usu_apellido) as usu_nom
		FROM tm_movimiento_lote ml
		inner join tm_lote l on l.lote_id = ml.lote_id
		inner join tm_usuario u on u.usu_id = ml.usu_id
		where CAST(mov_fecha as date) between @i_mov_fecha and @i_mov_hasta
		order by mov_fecha desc
	end

end
